<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.programus.android.clipblacklist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.programus.android.clipblacklist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.programus.android.clipblacklist.service.ClipMonitorService" >
        </service>

        <receiver android:name="org.programus.android.clipblacklist.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.programus.android.clipblacklist.LogRecordListActivity"
            android:label="@string/title_logrecord_list"
            android:parentActivityName="org.programus.android.clipblacklist.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.programus.android.clipblacklist.MainActivity" />
        </activity>
        <activity
            android:name="org.programus.android.clipblacklist.LogRecordDetailActivity"
            android:label="@string/title_logrecord_detail"
            android:parentActivityName=".LogRecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogRecordListActivity" />
        </activity>
        <provider android:multiprocess="true" android:authorities="org.programus.android.clipblacklist.util.ActivityLog.ClipBlacklistLogProvider" android:name=".util.ActivityLog$ClipBlacklistLogProvider"></provider>
        <activity android:name="SettingsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.programus.android.clipblacklist.MainActivity"/>
        </activity>
    </application>

</manifest>
